<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="main-content">

  </div>
  <div class="container">
    <div class="header-main">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-warning" (click)="shouldShow()">Add more square</button>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-danger" (click)="reload()">Refresh-Page</button>
        </div>
      </div>
      
      
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div id="hinh1" class="btn btn-primary hinh1" (click)="show1()">{{value1}}</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh2" class="btn btn-success hinh1" (click)="show2()">{{value2}}</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh3" class="btn btn-danger hinh1" (click)="show3()">{{value3}}</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh4" class="btn btn-warning hinh1" (click)="show4()">{{value4}}</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh5" class="btn btn-info hinh1" (click)="show5()">{{value5}}</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" (click)="show6()">{{value6}}</div>
      </div>

      <!-- add more square -->
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show" >More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show" >More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show" >More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>
      <div class="col-sm-4">
        <div id="hinh6" class="btn btn-dark hinh1" *ngIf="show">More Square</div>
      </div>

    </div>
  </div>
</body>

</html>